
.fivedaysBox {
  border: 2px;
  border-style: solid;
  border-color: blue;
  margin: 10px;
  width: 500px;
}

.container {
  border: 2px;
  border-style: solid;
  border-color: blue;
  margin: 100px;
  width: 300px;
}

.subcon {
  border: 1px;
  border-style: solid;
  border-color: purple;
  margin: 50px;
  width: 100px;
}

