body {
    font-family: Arial, sans-serif;
  }
  /* .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  } */
  /* input[type='text'] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
  }
  input[type='submit'] {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  } */
  .forecast {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
  }
  .day {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-color: transparent;
  }
  .day:hover {
    background-color: #f0f0f0;
  }
  .weather-info {
    margin-top: 20px;
  }
  .hide {
    display: none;
  }
  
  /* Image Styles */
  
  .currentforecast img {
    width: 100px;
    height: 100px;
  }
  
  .currentforecast p {
    margin: 5px 0;
  }
  
  /*********************************************** additional */
  
  html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
  }
  
  *,
  :after,
  :before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .wBtn {
    padding: 5px 38px;
    border-radius: 15px;
    border: 2px solid #fff;
    background-color: #fff;
    opacity: 0.54;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }
  
  body {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0,
      rgba(0, 0, 0, 0.05)
    );
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0, rgba(0, 0, 0, 0.05));
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 30px 0 65px; */
  }
  
  @media (min-width: 768px) {
    body {
      padding: 67px 0 74px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    body {
      padding-bottom: 0;
    }
  }
  
  .container {
    max-width: 320px;
    margin: 0 auto;
    /* padding-right: 18px;
    padding-left: 18px; */
  
    @media screen (min-width: 768px) {
      max-width: 768px;

    }
    @media screen and (min-width: 1158px) {
      max-width: 1200px;
    }
  }
  
  .currentforecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 300px;
    font-family: Lato, sans-serif;
    color: #fff;
    box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
    border-radius: 34px;
    background-color: rgba(16, 33, 54, 0.933333);
    padding: 38px 60px 40px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    margin-bottom: 32px; */
  
    @media screen and (min-width: 768px) {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 1158px) {
      width: 450px;
      margin-left: auto;
      margin-right: 0;
    }
  }
  
  
  .weather-info {
    /* display: flex; */
    width: 280px;
    height: 308px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: Lato, sans-serif;
    color: #fff;
    box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
    border-radius: 34px;
    background-color: rgba(16, 33, 54, 0.933333);
    padding: 38px 60px 40px;
    /* position: relative; */
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
      width: 620px;
    }
    @media screen and (min-width: 1158px) {
      width: 1060px;
    }
  }
  
  
  
  .forecast {
    /* display: flex; */
    width: 280px;
    height: 308px;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    font-family: Lato, sans-serif;
    color: #fff;
    box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
    border-radius: 34px;
    background-color: rgba(16, 33, 54, 0.933333);
    padding: 38px 60px 40px;
    /* position: relative; */
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
      width: 620px;
    }
    @media screen and (min-width: 1158px) {
      width: 1060px;
    }
  }
  
  /* .container.forecast {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  } */
  
  .form-input {
    text-align: center;
    margin-top: 30px;
  
    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 1158px) {
      margin-top: 0;
    }
  }
  
  .form-input-text {
    width: 280px;
    height: 48px;
    border-radius: 30px;
    background: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    padding-left: 30px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
  
    @media screen and (min-width: 768px) {
      width: 500px;
      font-size: 18px;
    }
    @media screen and (min-width: 1158px) {
      width: 520px;
      font-size: 18px;
    }
  }
  
  .form-submit {
    text-align: center;
  }
  
  /* Today Styles */
  
  .current-weather-group {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  
    @media screen and (min-width: 768px) {
      text-align: center;
      justify-content: center;
      margin-top: 50px;
    }
    @media screen and (min-width: 1158px) {
      text-align: right;
      justify-content: right;
      margin-top: 50px;
    }
  }
  
  .current-city {
    margin-right: 20px;
    margin-bottom: 12px;
  }
  
  .city-name {
    margin-bottom: 12px;
    font-size: 16px @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1158px) {
      font-size: 32px;
    }
  }
  
  /* Today Styles End*/
  
  /* Current Date and Quote Styles */
  
  .current-date-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .currentdate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.6px;
    width: 280px;
    height: 278px;
    border-radius: 34px;
    margin: 0 auto;
    background: rgba(16, 33, 54, 0.6);
  
    @media screen and (min-width: 768px) {
      width: 500px;
      font-size: 30px;
      margin: 0 auto;
    }
    @media screen and (min-width: 1158px) {
      width: 630px;
      font-size: 40px;
      margin: 0;
    }
  }
  
  .quote {
    /* display: flex; */
    color: #fff;
    justify-content: right;
    text-align: right;
    font-family: Lato;
    width: 280px;
    height: 132px;
    margin: 60px auto 0 auto;
  
    @media screen and (min-width: 768px) {
      width: 479px;
      margin: 60px auto 0 auto;
    }
    @media screen and (min-width: 1158px) {
      width: 340px;
      margin-right: 100px;
      margin-left: 0;
      margin-top: 0;
    }
  }
  
  .quote-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
    margin-bottom: 15px;
  
    @media screen and (min-width: 768px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1158px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  
  .quote-author {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
  }
  
  /* Current Date and Quote Styles End*/
  
  /* Button Styles */
  
  .button {
    border-color: transparent;
    letter-spacing: 0.03em;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .button.submit-button {
    width: 126px;
    height: 28px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button.submit-button:hover,
  .button.submit-button:focus {
    background: #fff;
  }
  
  .button.favorite-button {
    width: 126px;
    height: 28px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button.favorite-button:hover,
  .button.favorite-button:focus {
    background: #fff;
  }
  
  /* Button Styles End*/
  
  .showgraph-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .showgraph-button {
    width: 150px;
    height: 18px;
    border-color: transparent;
    background-color: transparent;
    color: #ff6b09;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 12px;
  }
  

  .chartstyle {
    /* display: flex; */
    width: 280px;
    height: 308px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: Lato, sans-serif;
    color: #fff;
    box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
    border-radius: 34px;
    background-color: rgba(16, 33, 54, 0.933333);
    padding: 38px 60px 40px;
    /* position: relative; */
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
      width: 620px;
    }
    @media screen and (min-width: 1158px) {
      width: 1060px;
    }
  }