.searchForm {
margin: 100px;
border-style: solid;
padding: 100px;
text-align: center;
}

.currentWD {
margin: 80px;
border-style: solid;
padding: 60px;
text-align: center;
display: flex;
width: 600px;
height: 200px;
}

.day {
padding: 50px;
border-style: solid;
margin: 50px;
text-align: center;
}

.temp {
  padding: 50px;
  border-style: solid;
  margin: 50px;
  text-align: center;
}

.fiveDaysWD {
margin: 80px;
border-style: solid;
padding: 60px;
text-align: center;
}